{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Income Heading -->
<div class="flex justify-between mx-2 my-4 flex-wrap">
    <div>
        <h1
            class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
            Incomes
        </h1>
    </div>
    <div>
        <a href="{% url 'add-income' %}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2.5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Add Income
        </a>
    </div>
</div>

{% if page_obj.object_list %}

<!-- Button and Search Bar -->
<div class="flex flex-wrap justify-between items-center mt-1">
    <div class="ml-3 md:ml-0">
        <a href="{% url 'export-excel' %}?tab=income"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-base p-2.5 me-2 mb-2">
            Export Excel <span class="text-slate-200">(.xls)</span>
        </a>

        <a href="{% url 'export-pdf' %}?tab=income" target="_blank"
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base p-2.5 me-2 mb-2">
            Export PDF
        </a>

        <a href="{% url 'export-csv' %}?tab=income"
            class="focus:outline-none text-white bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-base p-2.5 me-2 mb-2">
            Export CSV
        </a>
    </div>

    <div class="w-full m-4 lg:m-0 lg:w-[40%] lg:mr-4">
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="search" id="searchField"
                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
                placeholder="Search Incomes" />
        </div>
    </div>
</div>

<!-- Table -->
<div class="app-table relative overflow-x-auto shadow-md sm:rounded-lg my-4 mr-4 border-black border-2">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">Amount ({{ currency }})</th>
                <th class="px-6 py-3">Source</th>
                <th class="px-6 py-3">Description</th>
                <th class="px-6 py-3">Date</th>
                <th class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for income in page_obj %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4 font-medium text-gray-900">
                    {{ income.amount }}
                </td>
                <td class="px-6 py-4">
                    {{ income.source }}
                </td>
                <td class="px-6 py-4">
                    {{ income.description }}
                </td>
                <td class="px-6 py-4">
                    {{ income.date }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{% url 'edit-income' income.id %}"
                        class="font-medium text-blue-600 bg-slate-200 rounded border-2 px-2 py-1 hover:underline">
                        Edit
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Search result table -->
<p class="no-results text-2xl hidden">No results</p>

<div class="table-output hidden relative overflow-x-auto shadow-md sm:rounded-lg my-4 mr-4 border-black border-2">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">Amount ({{ currency }})</th>
                <th class="px-6 py-3">Source</th>
                <th class="px-6 py-3">Description</th>
                <th class="px-6 py-3">Date</th>
            </tr>
        </thead>
        <tbody class="table-body"></tbody>
    </table>
</div>

<!-- Pagination -->
<div class="pagination-container flex flex-col items-center mt-4">
    <span class="text-sm text-gray-700">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    <div class="inline-flex mt-2">
        {% if page_obj.has_previous %}
        <a href="?page=1"
            class="px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900">
            « First
        </a>
        <a href="?page={{ page_obj.previous_page_number }}"
            class="px-3 h-8 text-sm font-medium text-white bg-gray-800 hover:bg-gray-900">
            Prev
        </a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
            class="px-3 h-8 text-sm font-medium text-white bg-gray-800 hover:bg-gray-900">
            Next
        </a>
        <a href="?page={{ page_obj.paginator.num_pages }}"
            class="px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-r hover:bg-gray-900">
            Last »
        </a>
        {% endif %}
    </div>
</div>

{% else %}
<h2 class="text-2xl text-center mt-10">No Incomes To Show!</h2>
{% endif %}

<script src="{% static 'js/searchIncomes.js' %}"></script>

{% endblock content %}
